header {
	text-align: center;
}

#boxmodel {
	margin-left: 30%;
	margin-right: 30%;
}


#sfondo { 
		background-image: url(../img/sfondo.png);
	}



#up {
	background-color: rgb(84, 84, 243);
	
	margin: 1em solid;
    border: 1px;
    padding: 1em;
}


.logo {
	width: 150px;
}

.center{
	text-align: center;
}

#home {
	<i class="fa-solid fa-house"></i>
}

#article {
	<i class="fa-solid fa-arrow-right-long"></i>
}

#work {

}